<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   @*để ảnh vào title*@
    <link href="~/Content/style/mystyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script language="JavaScript">
        function searchMap() {
            const defaultAddress = "828 Đ. Sư Vạn Hạnh, Phường 12, Quận 10";
            /*            const defaultLocation = "HUFLIT Sư Vạn Hạnh";*/
            var address = document.getElementById('addressInput').value;
            if (address) {
                var url = 'https://www.google.com/maps/dir/?api=1&origin=' + encodeURIComponent(defaultAddress) + '&destination=' + encodeURIComponent(address);
                window.open(url, '_blank');
            }
        }
        function updateSuggestion() {
            var inputText = document.getElementById('seachboxInput').value;
            var suggestionList = document.getElementById('suggestions');
            suggestionList.innerHTML = '';

            for (var i = 0; i < 10; i++) {
                var option = document.createElement('option');
                option.value = inputText + ' ' + (i + 1);
                suggestionList.appendChild(option);
            }
            document.getElementById('suggestionBox').value = inputText + ' 1';
        }
        let index = 0;
        const slidesToShow = 2;
        const totalSlides = document.querySelectorAll('.slide').length;

        function showSlide()
        {
            const slider = document.querySelector('.slider');
            const slideWidth = document.querySelector('.slide').clientWidth;
            slider.style.transform = 'translateX(' + (-index * slideWidth) + 'px)';
        }

        function prevSlide() {
            index = (index === 0) ? 1 : (index - 1);
            showSlide();
        }

        function nextSlide() {
            index = (index === 1) ? 0 : (index + 1);
            showSlide();
        }

        showSlide();</script>
</head>
<body background-color: white;>

    <div>
        <div id="top1">
            <h2 align="center" style="background-color:lightgreen;">Freeship đơn từ 45K , giảm nhiều hơn cùng <span style="color:blue">FREESHIP</span> EXTRA</h2>
        </div>
        <div id="top_header">
            <div id="Logo1">
                <img src="~/Content/image/TIKI.jpg" / alt="logo">
            </div>

            <div id="Div_Top_searchbar">
                <input type="text" name="id" value="Giá siêu rẻ" style="width: 60%; max-width: 60vw; min-width: 10%; height: 20px;" />
                <button style="padding: 5px 10px; color: blue; border: none; cursor: pointer;">Tìm kiếm</button>
            </div>
            <div id="Div_UserArea1">

                <button>
                    <img src="~/Content/image/trang chủ.png" width="10" height="10" />
                    <i style="white-space: nowrap; color: blue; border: 0; cursor: pointer;">TRANG CHỦ</i>
                </button>
                <button>
                    <img src="~/Content/image/Tài khoản.png" alt="account" width="10" height="10" />
                    <i style="white-space: nowrap; color: black; border: 0; cursor: pointer;">Tài khoản</i>
                </button>

                <button>
                    <img src="~/Content/image/giỏ hàng.png" width="10" height="10" />
                    <i style="white-space: nowrap; color: blue; cursor: pointer;"></i>
                </button>


            </div>
            <div id="Div_Suggestion_Area">
                <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">điện gia dụng</button>
                <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">xe cộ</button>
                <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">mẹ &amp; bé</button>
                <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">khỏe đẹp</button>
                <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">nhà cửa</button>
                <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">sách</button>
                <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">thể thao</button>
                <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">iphone 13</button>
                <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">điện thoại</button>
                <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">ipad air 5</button>
                <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">oppo a17k</button>

            </div>
            <div id="Div_UserArea2" style="font-family: 'Arial'">
                <button>
                    <img src="~/Content/image/Giao đến.png" alt="location" width="10" height="10" />
                    <i style="padding: 5px 10px ; color: black; border: 0; cursor: pointer;">Giao đến: </i>

                </button>
                <input type="text" name="id" border: none; style="width: 80%; max-width: 80vw; min-width: 10%; height: 20px;" />
                <span id="displayAddress"></span>
            </div>

            <div id="Under_header" style="margin-top: 10px; gap: 4px;">
                <div style="display:flex; align-items:center; font-size:12px; font-weight:500;">
                    <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">Cam Kết</button>

                    <div style="display:flex; ">
                        <div style="display:flex; gap:4px; align-items:center;">
                            <img src="~/Content/image/hàng thật.png" alt="check" width="30" height="25" />
                            <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">100% hàng thật </button>
                        </div>
                        <div style="display:flex; align-items:center;">
                            <img src="~/Content/image/hoàn tiền.png" alt="cashback" width="20" height="20" />
                            <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">Hoàn 200% nếu hàng giả</button>
                        </div>
                        <div style="display:flex; align-items:center;">
                            <img src="~/Content/image/đổi trả.png" alt="guarantee" height="30" width="30" />
                            <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">30 ngày đổi trả</button>
                        </div>
                        <div style="display:flex; align-items:center;">
                            <img src="~/Content/image/giao nhanh.png" height="30" width="30" />
                            <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">Giao hàng nhanh 2h</button>
                        </div>
                        <div style="display:flex; align-items:center;">
                            <img src="~/Content/image/giá siêu rẻ.png" alt="best pricing" height="30" width="30" />
                            <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">Giá siêu rẻ</button>
                        </div>
                        <div style="display:flex; align-items:center;">
                            <img src="~/Content/image/freeship.png" alt="freeshipping" height="30" width="30" />
                            <button style="white-space: nowrap; background-color: white; border: none; cursor: pointer; ">Freeship mọi đơn</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Div_BodyContainer">
                <div style="height:15px;"></div>
                <div style="font-size:30px;margin-left:2vw; margin-top:3vw;"> Trang chủ > Điện thoại - Máy tính bảng </div>
                <div id="Div_Nav" style="background-color:white">
                    <nav>
                        <ul>
                            <li><span>Khám phá theo danh mục</span></li>
                            <li> Điện thoại Smartphone</li>
                            <li>Máy tính bảng</li>
                            <li>Máy đọc sách</li>
                            <li>Điện thoại phổ thông</li>
                            <li>Điện thoại bàn </li>
                        </ul>
                    </nav>
                    <main class="main-content">
                        <section class="banner">
                            <div class="banner-item">
                                <h2>Top Deal giá hời Gia dụng - Điện lạnh</h2>
                                <button>Mua ngay</button>
                            </div>
                            <div class="banner-item">
                                <h2>Ngàn deal mới về Làm đẹp sale nhiệt</h2>
                                <button>Mua ngay</button>
                            </div>
                        </section>

                        <div id="Div_BodyHeader">
                            <h2 style="margin-left:1vw; margin-top:1.5vw;margin-bottom:1vw;">Điện thoại - Máy tính bảng</h2>
                        </div>
                        <div id="Div_SliderBody">
                            <div class="slider-container">

                            </div>
                        </div>
                        <section class="product">
                            <h3>Top Deal - Siêu Rẻ</h3>
                            <div class="product-grid">
                                <div class="product">
                                    <img src="~/Content/image/iphone-15.jpg" alt="Apple iPhone 15 Pro Max" />
                                    <h4>Apple iPhone 15 Pro Max</h4>
                                    <p style="color:red"> 28.990.000đ</p>
                                    <button style="background-color: orange; border: none; color: white; cursor: pointer;">Mua ngay</button>
                                </div>
                                <div class="product">
                                    <img src="~/Content/image/iphone 16 plus.jpg" alt="Apple iPhone 16 Plus" />
                                    <h4>Apple iPhone 16 Plus</h4>
                                    <p style="color:red">22.490.000đ</p>
                                    <button style="background-color: orange; border: none; color: white; cursor: pointer;">Mua ngay</button>
                                </div>
                            </div>
                        </section>
                    </main>



                </div>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>


</body>
</html>
